[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyspark = "==2.4.3"
pytest = "*"
pytest-cov = "*"
pytest-pep8 = "*"
pyassembly = "*"
ipython = "*"

[requires]
python_version = "3.6.8"

[packages]
pyddq = "*"

[pipenv]
allow_prereleases = true
